.wrapper, html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

@font-face {
    font-family: norse;
    src: url('Norse-Bold.otf');
}

#image {
    background-image: url(images/background.jpg);
    display: flex;
    flex-direction: column;
    width: 37%;
    height: 100%;
    background-size: cover;
    
}


.card {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 40%;
    height: 15%;
    
    font-family: norse;

}

.card-content {
    color: white;
    font-size: 10em;
    text-align: center;
}

.credit {
    color: white;
    margin-top: auto;
    text-align: center;
    margin-bottom: 3%;
}

#form-section {
    background-color: white;
    width: 63%;
    height: 100%;
    
}

.form-intro {
    font-size: 18px;
    font-weight: bold; 
    padding: 0px 90px 0px 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 30%;
    margin-bottom: 50px;
}

#form {
    padding: 10px 50px 20px 20px;
    box-shadow: 4px 4px rgb(211, 207, 207);
    margin-bottom: 20px;
}

#bottom-section {
    padding: 30px;
}

.create {
    background-color: rgb(2, 73, 2);
    color:white;
    padding:10px 30px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 30px;
}

.create:hover {
    background-color: rgb(77, 133, 77);
}